*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --netflixBlack: #000000;
  --netflixRed: #E50914;
  --netflixDarkRed: #b20710;
  --netflixYellow: #ffcc00;
}

html{
  font-family: 'Muli', sans-serif;
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  text-transform: uppercase;
}

.logo {
  width: 15rem;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}

.open-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.nav.visible {
  transform: translate(0);
}

.nav-black {
  background-color: var(--netflixBlack);
  width: 60%;
  max-width: 48rem;
  min-width: 32rem;
  transition-delay: .4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  background-color: var(--netflixRed);
  width: 95%;
  transition-delay: .2s;
}

.nav-red.visible {
  transition-delay: .2s;
}

.nav-white {
  background-color: white;
  width: 95%;
  padding: 4rem;
  position: relative;
  transition-delay: 0s;
}

.nav-white.visible {
  transition-delay: .4s;
}

.close-btn {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

.list {
  list-style-type: none;
}

.list li {
  margin: 2rem 0;
}

.list li a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
  padding-left: 2rem;
}